.container {
	margin: 100px auto;
	width: 200px;
    display: flex;
    border: red solid;
   
    position: relative;

}

.round-left{
    border-radius: 50% ;
    width: 20px;
    aspect-ratio: 1/1;
    border: 2px solid;
    background-color: green;
    position:absolute;
    z-index: 2;
    top:50%;
    right:left;
}
.round-right{
    border-radius: 50% ;
    width: 20px;
    aspect-ratio: 1/1;
    border: 2px solid;
    background-color: green;
    z-index: 2;
    position:absolute;
    top:50%;
    right:0
}

.init{
    display: flex;
}