.container {
	border-radius: 5%;
	margin: 100px auto;
	width: 200px;
	display: flex;
	overflow-x: hidden;
	position: relative;
}

.round-left {
	aspect-ratio: 1/1;
	position: absolute;
	z-index: 2;
	top: 50%;
	left: 10px;
}
.round-right {
	z-index: 2;
	position: absolute;
	top: 50%;
	right: 10px;
}
.chev {
	color: rgb(208, 216, 196);
	cursor: pointer;
	transform: scale(1.5);
}
.chev:hover {
	transform: scale(2);
}
.init {
	display: flex;
	transition: 500ms;
}
